<form [formGroup]="createCandidateForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label for="inputCid" class="col-sm-2 control-label">{{createCandidateMessages.cid}}</label>
    <div class="col-sm-4">
      <input type="text" (blur)="checkCID()" class="form-control" id="inputCid" formControlName="cid" placeholder="{{createCandidateMessages.cid}}">
    </div>
  </div>

  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.titleName}}</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="titleName" (change)="fileterGender()">
        <option *ngFor="let title of titles" value="{{title}}">{{title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputFName" class="col-sm-2 control-label">{{createCandidateMessages.name}}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputFName" formControlName="fName" placeholder="{{createCandidateMessages.fName}}">
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputLName" formControlName="lName" placeholder="{{createCandidateMessages.lName}}">
    </div>
  </div>

  <div class="form-group">
    <label for="inputGender" class="col-sm-2 control-label">{{createCandidateMessages.genderTitle}}</label>
    <div class="col-sm-4">
      <label for="gender" class="radio-inline">
        <input type="radio" name="gender" formControlName="gender" value="male">{{createCandidateMessages.gender.male}}
      </label>
      <label for="gender" class="radio-inline">
        <input type="radio" name="gender" formControlName="gender" value="female">{{createCandidateMessages.gender.female}}
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="inputDob" class="col-sm-2 control-label">{{createCandidateMessages.dob}}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputDob" formControlName="dob" (blur)="calAge()" placeholder="{{createCandidateMessages.dob}}  เช่น 01/12/2500">
    </div>
    <div class="col-sm-4">
      <span class="help-block" *ngIf="age">{{age.year}} ปี {{age.month}} เดือน {{age.day}} วัน</span>
    </div>
  </div>

  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.addr}}</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputAddr1" formControlName="addr1" placeholder="{{createCandidateMessages.addr}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <input type="text" class="form-control" id="inputAddr2" formControlName="addr2" placeholder="{{createCandidateMessages.addr}}">
    </div>
  </div>

  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.changwat}}</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="changwat" (change)="filterAmphoe()">
        <option *ngFor="let changwat of changwats | async" value="{{changwat.pid}}">{{changwat.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.amphoe}}</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="amphoe" (change)="filterTambon()">
        <option *ngFor="let amphoe of amphoes | async" value="{{amphoe.pid}}">{{amphoe.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.tambon}}</label>
    <div class="col-sm-4">
      <select class="form-control" formControlName="tambon">
        <option *ngFor="let tambon of tambons | async" value="{{tambon.pid}}">{{tambon.name}}</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <label for="input" class="col-sm-2 control-label">{{createCandidateMessages.tel}}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputTel" formControlName="tel" placeholder="{{createCandidateMessages.tel}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary">{{createCandidateMessages.btn_save}}</button>
        <button type="button" class="btn btn-primary" (click)="onLoadDataClick()">Load</button>
      </div>
    </div>
  </div>
</form>
Angular Generate Form Model : {{createCandidateForm.value | json}}