<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{testerMessages.panelTitle}}</h3>
  </div>

  <form [formGroup]="testerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel-body">
      <div class="form-group">
        <label for="inputBlank" class="col-sm-offset-2 control-label"></label>
        <div class="col-sm-8">
          <div class="btn-toolbar">
            <a class="btn btn-info" href="#" role="button"><i class="fa fa-list"></i> {{testerMessages.list}}</a>
            <a class="btn btn-default" href="#" role="button"><i class="fa fa-plus-square"></i> {{testerMessages.create}}</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTesterCode" class="col-sm-2 control-label">{{testerMessages.code}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputTesterCode" formControlName="testerCode" placeholder="รหัสผู้ทดสอบ">
        </div>
      </div>
      <div class="form-group">
        <label for="inputFName" class="col-sm-2 control-label">{{testerMessages.name}}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputFName" formControlName="fName" placeholder="ชื่อ">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputLName" formControlName="lName" placeholder="นามสกุล">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">{{testerMessages.btn-save}}</button>
            <button type="button" class="btn btn-primary" (click)="onLoadDataClick()">บันทึก</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Table -->


</div>