<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-users"></i> รายชื่อผู้ทดสอบมาตรฐานฝีมือแรงงาน</h3>
  </div>
  <div class="panel-body">
    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">+ เพิ่มผู้ทดสอบ</button>
    <form class="form-horizontal">
      <div class="form-group mt-20">
        <label class="col-md-2 control-label">เลือกสาขา</label>
        <div class="col-md-6">
          <select name="" id="" class="form-control">
            <option *ngFor="let branch of branchObj" value="{{branch.id}}">{{branch.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">โหลด</button>
      </div>
    </form>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>ชื่อ - นามสกุล</th>
        <th>รหัส</th>
        <th>...</th>
      </tr>
      <tr *ngFor="let tester of testerObj; let i = index">
        <td>{{i+1}}</td>
        <td>{{tester.name}}</td>
        <td>{{tester.code}}</td>
        <td><a><i class="fa fa-edit"></i></a> | <a><i class="fa fa-trash"></i></a></td>
      </tr>
    </table>

    *****
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>


  </div>
</div>